.UserLinks {
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.listItem {
  width: 100%;
  flex: 1;
  background-color: var(--grey);
  text-align: center;
  padding: .5em;
  border-radius: 10px;
}

.listItem:hover {
  background-color: var(--primary);
}

.listItem:hover .link {
  color: var(--off-black);
}

.link {
  color: var(--white);
  text-decoration: none;
  font-weight: var(--fw-heavy);
  font-size: var(--fs-small);
}